<!-- Whatever above -->

<a href="http://0.0.0.0:3000/orders/<%= params[:order_id] %>/bill">Счет</a> 


<%= render :super %>

<br>
<%= render :active_scaffold => 'payments', :conditions => {:order_id => params[:order_id]} %>

<!-- Whatever below -->
